@import '../map/map';


.profileContainer {

    /* z-index: 0; */
    height: calc(100vh - @navHeight);
    width: 100vw;
    position: absolute;
    top: @navHeight;
    left: 0px;
    background-color: white;
    
}