@import '../../profileLoginCreate/profileLoginCreate';
@import '../../profileLoginCreate/login/login';


.createAlertContainer {
    width: 50%;
    margin-top: -45px;

    @media @wide-screen-down {
        width: 100%;
        margin-top: -45px;
    }

    h1 {
        @media (max-width: 700px) {
            font-size: 39px;
            margin-top: 100px;
            margin-bottom: 15px;
        }

        @media @phone-down {
            font-size: 34px;
            margin-top: 90px;
            margin-bottom: 10px;
        }

        @media (max-width: 400px) {
            font-size: 30px;
            margin-top: 90px;
            margin-bottom: 0px;
        }
    }

    .createAlertForm {
        .authForm;
    
        .createAlertButton {
            .authLogin;
        }
    }
}
