@import '../app/app';

@navHeight: 61px;


.mapContainer { 
    /* height: calc(100vh - @navHeight);
    width: 100vw; */
    flex-grow: 1;
}

.autocomplete {
    background-color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 10px 0 0;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
    height: 35px;

    @media @tablet-down { width: 50%; }
    @media @phone-down { 
        width: 40%; 
        font-size: 20px;
    }
}
.autocomplete:focus { border-color: #4d90fe; }

.legendComputer { 
    display: none; 

    @media (min-width: 824px) and (min-height: 750px) {
        display: block;
        margin-left: 9px;
        position: fixed;
        bottom: 25px;
    }
}

.legendMobile { 
    display: none; 

    @media (max-width: 823px) { 
        display: block;
        margin-left: 9px;
        position: fixed;
        bottom: 25px;
    }
}